* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../images/bj.gif");
}
#container{
    width: 960px;
    border: 2px solid red;
    margin: 0 auto;
}
#top{
    color: #7A7A3D;
    position: absolute;
    right: 10px;
    top:8px;
}
#top a{
    color: #7A7A3D;
    text-decoration: none;

}
#logo{
    position: relative;
    height: 95px;
}
.logoimg{
    position: absolute;
    left:20px;
    top:10px;
    float: left;
}
.logofont{
    position: absolute;
    left:150px;
    top:45px;
    float: left;
    font-family: serif;
    font-size: 14px;
    color: #8B7C48;

}
.logoright{
    position: absolute;
    float: right;
    top: 40px;
    right: 10px;
}
#mainmenu{
    position: relative;
}
#mainmenu #nav{
    background: url("../images/navbj.jpg");
    height: 44px;

}
#mainmenu #nav,#nav3 ul{
    list-style: none;
    text-align: center;

}
#mainmenu #nav ul li{
    display: inline-block;
    line-height: 44px;
    background: url("../images/navimg.jpg") no-repeat center right;
    width: 80px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;

}
#mainmenu #nav ul li a{
    text-decoration: none;
    color: black;
}
#mainmenu  #nav ul li a:hover{
    color: red;
}
#mainmenu #nav3{
    position: absolute;
    left: 200px;
    display: none;
}
#mainmenu #nav3 ul li{
    border: 1px solid red;
    line-height: 30px;
    width: 70px;
    font-size: 14px;
    text-align: center;
}
#mainmenu #nav3 ul li a{
    text-decoration: none;
    color: black;
}
#mainmenu  #nav3 ul li a:hover{
    color: red;
}
#banner{
    position: relative;
}
.bannerimg{
    height: 396px;
}
#banner #num{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#banner #num span{
    border: 1px solid red;
}

#main{
    margin-top: -8px;
}
.maintop{
    height: 360px;
    width: 960px;
    background: url("../images/content_bg.jpg");
}
.maintop1{
    width:305px;
    height: 340px;
    float: left;
    margin-right: 10px;
    position: relative;
    border: 1px solid #D7D7D7;
}
.maintop1title{
    height: 54px;
    background: url("../images/content_sm_bg.jpg");
    line-height: 54px;
}
.titlefont{
    background: url("../images/contentimg.jpg") no-repeat left center;
    text-indent: 20px;
    margin-left: 10px;
}
.titlefont span{
    font-size: 16px;
    color: #BD7900;
}
.maintop1content{

}
.maintop1content .img{
    text-align: center;
    margin-top: 10px;
}
.maintop1content ul{
    margin-left: 40px;
    margin-top: 20px;
}
.maintop1content ul li{
    list-style: none;
    background: url("../images/ico.jpg") no-repeat left center;
    color: #5D5A5A;
    text-indent: 20px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #BEBDBB;
}

.maintop1content .img2{
    text-align: center;
    margin-top: 30px;
}

.maintop1content .midfont{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.maintop1content .midfont span {
    font-size: 12px;
    color: #5D5A5A;
}


.maintop1content .img3 {
    text-align: center;
    margin-top: 30px;
}
#demo{
    background: #FFF;
    width: 600px;
    margin: 10px auto;
    overflow: hidden;
    border:1px solid #CCC;
}
#indemo{
    float: left;
    width: 800%;
}
#demo1{
    float: left;
}
#demo1,#demo2 div {
    text-align: center;
}
#zixun{
    width: 104px;
    height: 144px;
    position: absolute;
    top:100px;
    right: 10px;
    z-index: 100;
}
#bbox { font-size:12px; text-align:center; line-height:30px;}

#setindex{ width:200px; height:30px; position:absolute; right:-20px; top:-30px;}
#setindex ul{ list-style:none; margin:0px; padding:0px; }
#setindex ul li{ display:inline; }
#setindex ul li a{  color:#690; font-weight:bold;font-size:16px;}